---
import Container from "./Container.astro"
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  { href: '/about', label: 'About us' },
  { href: '/#services', label: 'Services' },
  { href: '/#projects', label: 'Use Cases' },
  { href: '/pricing', label: 'Pricing' },
  { href: '/articles', label: 'Blog'},
];

const navButton = { href: 'https://github.com/manulthanura/Positivus', label: 'Request a quote' };
---

<div class="mt-20">
<nav class="w-full top-0 left-0 z-50 fixed bg-white">
  <Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/Logo.svg" class="h-8" alt="Logo" />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-8 h-8 text-black" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="font-medium flex flex-col p-4 lg:p-0 mt-4 border rounded-lg lg:flex-row lg:space-x-8 lg:mt-0 lg:border-0">
          {menuitems.map((item, index) => (
            <li>
                <a href={item.href} class="block py-2 px-3 text-black rounded lg:bg-transparent lg:p-0">{item.label}</a>
            </li>
          ))}
          <div class="lg:hidden flex items-center justify-center mt-3 gap-4">
              <a class="px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex" href={navButton.href} target="_blank"><h2 class="text-center text-xl font-normal leading-7">{navButton.label}</h2>
              </a>
          </div>
        </ul>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a class="px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex" href={navButton.href} target="_blank"><h2 class="text-center text-xl font-normal leading-7">{navButton.label}</h2>
        </a>
      </div>
    </div>
  </header>
</Container>
</nav>
</div>