---
import Container from "./Container.astro"
import servicesData from './Data/services.json';
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="services">
    <div class="row items-center py-5 md:pr-20 md:w-3/12 md:py-10">
        <div class="text-center md:text-left space-y-3 bg-lime">
            <h2 class="text-4xl font-medium leading-none sm:text-6xl">Services</h2>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-9/12 md:py-10">
        <p class="text-xl font-normal leading-7 text-center md:text-left">Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
    </div>
</div>

<div class="flex-row items-center py-5">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">

        <!-- card start-->
        {
        servicesData.map(({ background, name1, name2, arrow, link, image} ) => (
        <div class={background}>
            <div class="flex-col justify-center items-start gap-[93px] inline-flex">
                <div class="flex-col justify-start items-start flex">
                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <div class=" text-3xl font-medium">{name1}</div>
                    </div>
                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <div class="text-3xl font-medium">{name2}</div>
                    </div>
                </div>
                <a class="justify-start items-center gap-[15px] inline-flex" href={link}>
                    <div class="w-[41px] h-[41px] relative">
                        <img class="w-[41px] h-[41px] left-0 top-0 absolute" src={arrow} />
                    </div>
                    <div class="text-xl font-normal leading-7">Learn more</div>
                </a>
            </div>
            <div class="w-[210px] h-[170px] pt-0.5 pb-[1.95px] justify-center items-center flex">
                <img class="hidden md:block" src={image} />
            </div>
        </div>
        ))
        }
        <!-- card end-->
    </div>
</div>

<div class="flex-row items-center my-6 p-14 bg-zinc-100 rounded-[45px]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="justify-start items-center gap-[275px] flex">
            <div class="flex-col justify-start items-start gap-[26px] inline-flex text-black">
                <div class="text-3xl font-medium">Let’s make things happen</div>
                <div class="text-lg font-normal">Contact us today to learn more about how our digital marketing services can help your business grow and succeed online.</div>
                <a href="/" class="px-[35px] py-5 bg-zinc-900 rounded-[14px] justify-start items-start gap-2.5 inline-flex">
                    <div class="text-center text-white text-xl font-normal leading-7">Get your free proposal</div>
                </a>
            </div>
        </div>
        <div class="hidden md:grid justify-items-center -m-20">
            <img src="/services/Illustration.svg" width="50%" alt="cat"/>
        </div>
    </div>
</div>
</Container>