---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import teamData from './Data/team.json';
import Accordion from "./Accordion.astro";

---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Process" description="Step-by-Step Guide to Achieving Your Business Goals"/>
</div>

<div class="my-6">
    <div class="space-y-10">
        {
            teamData.process.map((item) => {
                return (
                <Accordion
                    index= {item.index}
                    title={item.label}
                    description={item.content}
                />
                );
            })
        }
    </div>
</div>

<div class="relative flex flex-col items-center md:flex-row pt-6">
    <Topic title="Team" description="Meet the skilled and experienced team behind our successful digital marketing strategies"/>
</div>

<div class="flex-row items-center py-5" id="team">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-4">
    {
    teamData.team.map(({ title, description, name, link, profile} ) => (
    <div class="h-[331px] px-[35px] py-10 bg-white rounded-[45px] shadow-card border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex text-black">
        <div class="flex-col justify-start items-start gap-7 flex">
            <div class="self-stretch justify-start items-start inline-flex">
                <div class="grow shrink basis-0 justify-start items-center gap-8 flex">
                    <div class="h-[102.82px] left-0 top-0 relative">
                        <img src={profile} alt={name}/>
                    </div>
                    <div class="flex-col justify-end items-start inline-flex">
                        <div class="text-lg font-normal">{title}</div>
                        <div class="text-xl font-medium">{name}</div>
                    </div>
                </div>
                <a class="top-0 right-0" href={link}>
                    <img src="/team/lng.svg" alt="vector"/>
                </a>
            </div>
            <hr class="w-full border border-black"/>
            <p class="text-sm md:text-lg">{description}</p>
        </div>
    </div>
    ))
    }
    </div>
</div>
<div class="w-full justify-center md:justify-end items-center inline-flex">
    <button class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7">See all team
    </button>
</div>

</Container>