---
import Seo from "../components/seo/Seo.astro";

// Pass the contents to create SEO for the page
const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <!-- iOS 
  <link rel="apple-touch-icon" sizes="256x256" href="/path/to/your/icon.png" />
  -->
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>
  <meta name="description" content={description} />

  <Seo
    {title}
    {description}
    url={Astro.url.toString()}
    {image}
    {frontmatter}
    {robots}
  />

  <!-- Preconnect fonts, images... -->
</head>
