---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  { href: '/about', label: 'About us' },
  { href: '/#services', label: 'Services' },
  { href: '/#cases', label: 'Use Cases' },
  { href: '/pricing', label: 'Pricing' },
  { href: '/articles', label: 'Blog'},
];

const navButton = { href: 'https://github.com/manulthanura/Positivus', label: 'Request a quote' };
---

<div class="mt-20">
  <nav class="w-full top-0 left-0 z-50 fixed bg-white">
    <header class="flex flex-col lg:flex-row justify-between items-center my-5 px-6 md:px-32">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/Logo.svg" class="h-8" alt="Logo" />
          </a>
          <div class="block lg:hidden">
            <div id="menu-icon" class="w-8 h-8 text-black cursor-pointer">
              <!-- Open (hamburger) icon -->
              <svg id="open-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
              <!-- Close (X) icon -->
              <svg id="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-8 h-8 hidden">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </div>
          </div>
        </div>
        
        <nav class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0" id="menu-items">
          <ul class="font-medium flex flex-col p-4 lg:p-0 mt-4 border rounded-lg lg:flex-row lg:space-x-8 lg:mt-0 lg:border-0">
            {menuitems.map((item, index) => (
              <li>
                <a 
                  href={item.href} 
                  class="mobile-nav-link block py-2 px-3 text-black rounded lg:bg-transparent lg:p-0"
                  data-close-menu="true"
                >
                  {item.label}
                </a>
              </li>
            ))}
            <div class="lg:hidden flex items-center justify-center mt-3 gap-4">
              <a 
                class="mobile-nav-link px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex" 
                href={navButton.href}
                data-close-menu="true"
              >
                <h2 class="text-center text-xl font-normal leading-7">{navButton.label}</h2>
              </a>
            </div>
          </ul>
        </nav>
      </Astronav>

      <div>
        <div class="hidden lg:flex items-center gap-4">
          <a class="px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex" href={navButton.href}>
            <h2 class="text-center text-xl font-normal leading-7">{navButton.label}</h2>
          </a>
        </div>
      </div>
    </header>
  </nav>
</div>

<script is:inline>
  // Get references to the menu icon, open/close icons, and menu items
  const menuIcon = document.getElementById('menu-icon');
  const openIcon = document.getElementById('open-icon');
  const closeIcon = document.getElementById('close-icon');
  const menuItems = document.getElementById('menu-items');
  const closeMenuItems = document.querySelectorAll('[data-close-menu="true"]');  // Select all items with the 'data-close-menu' attribute

  // Toggle the menu visibility and icon when the menu icon is clicked
  menuIcon.addEventListener('click', () => {
    menuItems.classList.toggle('hidden');  // Toggle the 'hidden' class on the menu

    // Toggle between open and close icons
    openIcon.classList.toggle('hidden');
    closeIcon.classList.toggle('hidden');
  });

  // Close the menu when any item is clicked
  closeMenuItems.forEach(item => {
    item.addEventListener('click', () => {
      menuItems.classList.add('hidden');  // Add the 'hidden' class to hide the menu
      openIcon.classList.remove('hidden');  // Show the open (hamburger) icon
      closeIcon.classList.add('hidden');  // Hide the close (X) icon
    });
  });
</script>