---
import { Image } from "astro:assets";
import Card from "./Card.astro";

import gob from "../../assets/icon6.svg";
import wob from "../../assets/icon7.svg";

/* 
1. Gray card with green title and green on black icon 
2. Green card with gray title and green on black icon
3. Black card with gray title and gray on black icon
*/

const { index, titleTop, titleBottom, img, alt, link } = Astro.props;
---

<Card isUnderline={true}>
  <div
    class=`h-[300px] w-full sm:h-full lg:gap-[60px] grid custom-grid lg:grid-cols-2 lg:grid-rows-1 p-8 sm:p-[50px] rounded-[45px] ${index === 1 ? 'bg-gray' : index === 2 ? 'bg-green' : 'bg-dark text-gray'}`
  >
    <h3 class=`flex flex-col col-span-2 lg:col-span-1`>
      <span class=`w-[fit-content] ${index === 1 ? 'greenhead' : 'whitehead'}`
        >{titleTop}</span
      >
      <span class=`w-[fit-content] ${index === 1 ? 'greenhead' : 'whitehead'}`
        >{titleBottom}</span
      >
    </h3>
    <picture
      class="w-full h-full row-span-1 order-1 lg:order-none lg:row-span-2 flex justify-center items-center"
    >
      <Image
        src={img}
        alt={alt}
        class="h-[100px] w-auto sm:h-auto sm:w-3/4 object-cover"
      />
    </picture>
    <div class="flex items-end">
      <a href={link} class="flex items-center gap-3.5"
        ><Image src={index === 1 || index === 2 ? gob : wob} alt={alt} />
        <span class="hidden sm:block">Service Info</span></a
      >
    </div>
  </div>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
