---
import { Image } from "astro:assets";
import linkd from "../../assets/pics/profile-in.svg";
import Card from "./Card.astro";

const { pic, name, role, description, link } = Astro.props;
---

<Card isUnderline={true}>
  <div class="p-[60px]">
    <div class="flex flex-col sm:flex-row relative">
      <picture><Image src={pic} alt={name} /></picture>
      <div class="flex flex-col justify-end sm:ml-5">
        <h3 class="text-lg font-medium">{name}</h3>
        <p class="text-sm font-normal">{role}</p>
      </div>
      <a href={link} class="absolute right-0 top-0"
        ><Image src={linkd} alt="Linkedin Logo" /></a
      >
    </div>
    <div class="w-full h-[1px] bg-black my-7"></div>
    <div>{description}</div>
  </div>
</Card>
